{% extends "_layout" %}
{% set title = 'Login' %}

{% block content %}
  <h1 align="center">Login</h1>
  <p>Don't have an account? <a href="{{ url('register') }}">Create an Account</a></p>
  <form method="post" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/login">

    <h3><label for="loginName">Username or email</label></h3>
    <input id="loginName" type="text" name="loginName"
        value="{{ craft.session.rememberedUsername }}">

    <h3><label for="password">Password</label></h3>
    <input id="password" type="password" name="password">

    <label class="pad-t-b">
      Remember me
      <input class ="mar-t-b" type="checkbox" name="rememberMe" value="1">
    </label>
    <input class="button" type="submit" value="Login">

    {% if errorMessage is defined %}
      <p>{{ errorMessage }}</p>
    {% endif %}
  </form>

  <p><a href="{{ url('forgotPassword') }}">Forgot your password?</a></p>
{% endblock %}