{% extends '_layout' %}

{% requireLogin %}

{% block content %}
  {% if currentUser and currentUser.id == entry.author.id %}
    <div class="left hide-print">
      <a href="{{ entry.url }}/edit">Edit This CV</a>
    </div>
  {% endif %}

  <h1 class="center">{{ entry.title }}</h1>
  <address class="center">{{ entry.address }}</address>

  <p>
    {% if entry.mobile|length > 0 %}
      Mobile: {{ entry.mobile }}<br>
    {% endif %}
    <span class="right">Email: {{ entry.email }}</span>
  </p>

  {% if entry.personalStatement|length >0 %}
    <h2>Personal Statement</h2>
    {{ entry.personalStatement }}
  {% endif %}

  {% if entry.education is not empty or entry.qualifications is not empty %}
    <h2>Education</h2>

    <h3>{{ entry.education }}</h3>
    <p><em>{{ entry.educationYears }}</em></p>

    {% for block in entry.qualifications %}
      <p><strong>{{ block.listTitle }}</strong></p>
      <ul>
        {% for list in block.list %}
          <li>{{ list.subject }} - {{ list.grade }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endif %}

  {% if entry.workExperience|length >0 %}
    <h2>Work Experience</h2>


    {% for block in entry.workExperience if block.employer ~ block.date ~ block.description is not empty %}
      <h3>{{ block.employer }}</h3>
      <p><em>{{ block.date }}</em></p>
      <p>{{ block.description|nl2br }}</p>
    {% endfor %}
  {% endif %}

  {% if entry.interests|length >0 %}
    <h2>Interests</h2>

    <ul>
      {% for row in entry.interests %}
        <li>{{ row.interests }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}