{% extends '_layout' %}

{% block content %}
  {% if currentUser %}
    <p><a href="./">Home</a><span class="right">Welcome, <a href="./">{{ currentUser.friendlyName }}</a>! <a href="{{ logoutUrl }}">Logout</a></span></p>

    <h1>Change Password</h1>
    {% macro errorList(errors) %}
      {% if errors %}
        {% for error in errors %}
          <div class="error icon-cancel-circled">{{ error }}</div>
        {% endfor %}
      {% endif %}
    {% endmacro %}
    {% from _self import errorList %}

    <form method="post" action="" id="action-form" accept-charset="UTF-8" enctype="multipart/form-data">
      {{ getCsrfInput() }} {# Remove this if you aren't using CSRF #}
      <input type="hidden" name="action" value="users/saveUser">
      <input type="hidden" name="redirect" value="{{ entry.url }}">
      <input type="hidden" name="userId" value="{{ currentUser.id }}">

      <h3><label for="password">Current Password</label></h3>
      <input class="form-control" id="password" type="password" name="password"/>
      {% if account is defined %}
        {{ errorList(account.getErrors('currentPassword')) }}
      {% endif %}

      <h3><label for="email">Email</label></h3>
      <input class="text" id="email" type="text" name="email">
      {% if account is defined %}
        {{ errorList(account.getErrors('email')) }}
      {% endif %}

      <h3><label for="newPassword">New Password</label></h3>
      <input class="form-control" id="newPassword" type="password" name="newPassword">
      {% if account is defined %}
        {{ errorList(account.getErrors('newPassword')) }}
      {% endif %}

      <h3><label for="confirmNewPassword">Confirm New Password</label></h3>
      <input class="form-control" id="confirmNewPassword" type="password" name="confirmNewPassword">
      {% if account is defined %}
        {{ errorList(account.getErrors('confirmNewPassword')) }}
      {% endif %}

      {% if newPassword != confirmNewPassword %}
        <p>Passwords don't match!</p>
      {% else %}
        <input class="button" type="submit" value="Submit">
      {% endif %}
    </form>

  {% else %}
    <h1>Oops</h1>
    <p>You aren't logged in so you dont have access to this page</p>
    <p>I'll give you 3 options here</p>
    <ul>
      <li><a href="../">Go back to homepage</a></li>
      <li><a href="../login">Log In</a></li>
      <li><a href="../register">Register</a></li>
    </ul>
  {% endif %}
{% endblock %}